* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d8c2ed;
}
/* .link {
  width: 200px;
  background-color: aliceblue;
  padding: 0 20px 0 20px;
  display: inline-block;
  justify-content: center;
} */
/* Header*/
header {
  background-color: #ecec;
  position: fixed;
  top: 0;
  /* height: 50px; */
  width: 100%;
  z-index: 5;
}
nav {
  display: flex;
  /* justify-content: space-around;
  line-height: 50px; */
}
/* .img1 {
  background-image: url("menu.png");
} */
img {
  position: relative;
  top: 5px;
  left: 10px;
  width: 30px;
  height: 30px;
}
.menu-icon {
  visibility: hidden;
}
nav ul {
  display: flex;
  /* visibility: hidden; */
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  padding-right: 15px;
  text-transform: uppercase;
}
/* Header end*/

.sidebar {
  overflow-x: hidden;
  transform: translate3d(-100vw, 0, 0);
  background-color: blueviolet;
  width: 250px;
  height: calc(100vh - 50px);
  z-index: 3;
}
.sidebar ul li {
  list-style: none;
  margin-bottom: 10px;
}
.sidebar ul li a {
  text-decoration: none;
  padding-right: 15px;
  text-transform: uppercase;
  color: white;
}
.opensidebar {
  visibility: visible;
}

/* Homepage section 1 */
.section-about {
  text-align: center;
  font-size: 2rem;
  color: ;
  margin-top: 90px;
}
.sec1 {
  background-color: #561f5c;
  width: 100%;
  color: white;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 70px;
  padding: 50px 5px 0px 5px;
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 40px 20px 40px;
  /* margin-bottom: 50px; */
}

.btn button {
  display: block;
  padding: 15px 20px;
  border-radius: 10px;
  outline: none;
  border: 2px black;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: #2e1f5c;
  width: 100%;
  margin-bottom: 18px;
  scale: 0.97;
}
button:hover {
  background-color: #d8c2ed;
  color: black;
  scale: 1;
}
.h1 {
  font-size: 2.8rem;
  text-align: center;
  /* padding: 80px 10px 20px 10px; */
  text-shadow: 2px 5px black;
  font-weight: 1000;
}
.h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 40px;
}

/*ending of Homepage section 1 */

/* pop */
.pop-container {
  position: absolute;
  top: 50%;
  transform: translate(-50% -50%);
  width: 300px;
  height: 200px;
  background-color: black;
  display: flex;
}
/* end pop */

/** section2 **/
.sec2 {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #5927c4;
  margin-bottom: 50px;
}
.sec2 h1 {
  font-size: 3.7rem;
  margin-bottom: 15px;
}
.sec2 div {
  width: 100%;
}
.sec2 p {
  color: #222;
  width: 300px;
  /* padding: 0 auto; */
  margin: 0 auto;
  font-size: 1.1rem;
}
/** section2 **/

/** Footer **/
footer {
  text-align: center;
}
footer p {
  font-size: 17px;
}
footer button {
  font-size: 1.5rem;
  background-color: #5927c4;
  padding: 10px 20px;
  border-radius: 50%;
  border: 0;
  box-shadow: 2px 4px 3px 4px #888;
  outline: none;
  margin-bottom: 10px;
  scale: 0.9;
  position: fixed;
  bottom: 10px;
  right: 13px;
}
footer button:hover {
  scale: 1;
}
footer button .bell {
  color: white;
}

.daily {
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  width: 70%;
}
.daily h1 {
  font-size: 1.9rem;
  font-family: sans-serif;
  text-decoration: underline;
  margin-bottom: 10px;
}
.daily div {
  width: 100%;
}
.daily h3 {
  width: 100%;
  margin: 0 auto;
}

.vision {
  visibility: visible;
}
.sidebar-link {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: white;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.sidebar-link a:hover {
  color: #222;
}

/* @media (max-width: 900px) {
  nav h1 {
    font-size: 1.5rem;
    padding-left: 10px;
    text-transform: uppercase;
    float: left;
    margin-right: 20%;
    text-shadow: 0px 1px #777;
  }
} */
@media (min-width: 701px) {
  header {
    background-color: rgba(187, 10, 187, 0.8);
    position: fixed;
    top: 0;
    /* height: 50px; */
    width: 100%;
    z-index: 5;
  }
  .sidebar {
    visibility: hidden;
    display: none;
  }
  nav {
    display: flex;
    justify-content: space-around;
    line-height: 50px;
  }
  img {
    position: relative;
    top: 5px;
    left: 10px;
    width: 30px;
    height: 30px;
    visibility: hidden;
  }
  .menu-icon {
    visibility: hidden;
  }
  nav ul {
    display: flex;
  }
  nav ul li {
    list-style: none;
  }
  nav ul li a {
    text-decoration: none;
    padding-right: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.2rem;
  }
  .sec2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #5927c4;
    margin-bottom: 50px;
  }
  .sec2 h1 {
    font-size: 3.9rem;
    margin-bottom: 15px;
  }
  .sec2 div {
    width: 100%;
  }
  .sec2 p {
    color: #222;
    width: 800px;
    /* padding: 0 auto; */
    margin: 0 auto;
    font-size: 1.6rem;
  }
  .daily {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
  }
  .daily h1 {
    font-size: 1.9rem;
    font-family: sans-serif;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  .daily div {
    width: 100%;
  }
  .daily h3 {
    margin: 0 auto;
  }
  .messages {
    background-color: #170826;
    padding: 5px;
    width: 80%;
    color: #ecec;
    margin: 0 auto;
    text-align: center;
  }
  .messages h3 {
    font-size: 28px;
    margin-right: 5px;
  }
  .messages span {
    color: white;
    font-size: 23px;
  }
  .all {
    visibility: hidden;
  }
}
@media (max-width: 700px) {
  header {
    background-color: #98b0b8;
    height: 70px;
    display: flex;
    position: fixed;
    top: 0;
  }

  nav ul {
    visibility: hidden;
  }
  nav {
    display: block;
    line-height: 70px;

    justify-content: space-between;
    /* line-height: 50px; */
    /* display: grid;
      grid-template-columns: 1fr 1fr;} */
  }
  .menubody {
    display: inline;
  }
  .menu-icon {
    visibility: visible;
    /* float: right; */
    /* position: absolute; */
    z-index: 1;
    color: black !important;
    font-size: 2rem;
  }
  nav h1 {
    font-size: 1.5rem;
    padding-left: 10px;
    text-transform: uppercase;
    float: left;
    margin-left: 10px;
    margin-right: 55px;
    text-shadow: 0px 1px #777;
  }
  .h1 {
    font-size: 2.4rem;
    text-align: center;
    padding: 0px 10px;
    text-shadow: 5px 2px black;
    font-weight: 800;
    letter-spacing: 1px;
  }
  .h3 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 40px;
    color: #ecec;
    font-family: sans-serif;
  }
  img {
    visibility: hidden;
  }
  .sidebar {
    /* visibility: hidden; */
    /* display: flex;
    flex-direction: column; */
    /* justify-content: center;
    align-items: center;*/
    position: absolute;
    top: 0;
    right: 0;
    background-color: #222;
    width: 280px;
    height: 100vh;
    transition: 0.5s ease;
    z-index: 5;
    line-height: 50px;
    text-align: center;
    padding-top: 50px;
    /* translate: 300px; */
  }
  .translate {
    transform: translate3d(0vw, 0, 0);
  }
  .sidebar ul li {
    list-style: none;
    margin-bottom: 10px;
    /* line-height: 50px; */
  }
  .sidebar ul li a {
    text-decoration: none;
    padding-right: 15px;
    text-transform: uppercase;
    color: white;
  }
  .bi {
    color: white;
    font-size: 35px;
  }
  .daily {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
    width: 100%;
  }
  .daily h1 {
    font-size: 1.9rem;
    font-family: sans-serif;
    text-decoration: underline;
    margin-bottom: 10px;
  }
  .daily div {
    width: 100%;
  }
  .daily h3 {
    width: 350px;
    margin: 0 auto;
  }
  .messages {
    background-color: #170826;
    padding: 5px;
    width: 80%;
    color: #ecec;
    margin: 0 auto;
    /* height: 200px; */
    /* overflow: scroll; */
  }
  .messages h3 {
    font-size: 28px;
    margin-right: 5px;
  }
  .messages span {
    color: white;
    font-size: 23px;
  }
  .all {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    margin-left: 10px;
    margin-left: auto;
  }
  .bod {
    width: 100%;
    margin-left: auto;
    margin-left: auto;
    padding-bottom: 5px;
    /* padding: 0 10px; */
    background-color: #5927c4;

    /* position: fixed;
    bottom: 70px; */
    /* border-radius: 40px; */
    z-index: 5;
    /* display: flex; */
    justify-content: center;
    text-align: center;
  }
  .link {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .link a {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 10px;
    padding-right: 25px;
    text-decoration: none;
  }
  .link a span {
    color: #ecec;
    font-size: 1.2rem;
  }
}
.daily {
  background-color: #222;
  overflow: scroll;
  overflow: hidden;
}

.messages {
  background-color: #170826;
  padding: 5px;
  width: 100%;
  color: #ecec;
  /* height: 200px; */
  /* overflow: scroll; */
}
.messages h3 {
  font-size: 25px;
}
.messages span {
  font-size: 20px;
}

/* About Page beginning
.about-page {
  visibility: hidden;
  position: absolute;
  z-index: 6;
  top: 0;
  right: 0;
  z-index: 6;
  background-color: white;
  width: 100%;
  height: 100%;
  background-color: #2e1f5c;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */
/* .about-page h1 {
  font-size: 3rem;
}
.home-btn {
  background-color: transparent;
  border: 0;
  font-size: 2rem;
  text-decoration: underline;
}
#about-btn {
  border: none;
  background-color: transparent;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.contact-page {
  visibility: hidden;

  position: absolute;
  top: 0;
  right: 0;
  z-index: 7;
  width: 100%;
  height: 100%;
  background-color: #d13294;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #222;
}
.contact-page .form {
  background-color: #fff;
} */
